@import "normalize.styl"
@import "fonts.styl"

vendor-prefixes = webkit o ms moz official

gris_claro = #818181
gris_border = #ddd

a
	text-decoration none
body
	font-size 16px
	background #fff
li
	list-style none
figure
	margin 0
ul
	margin 0
//buttons
.button-menu
	color gris_oscuro
	left .5em
	margin-top -10px //sube 50% de su tamaño, con lo cual ya estaria centrado verticalmente
	position absolute
	top 50% //empieza a posicionarse a partir de la mitad del contendor

//oocss classes
.border-bottom
	border-bottom: 1px solid #ddd
.relative
	position relative
.left
	float left
.right
	float right
.center-block
	margin 0 auto
.round
	border-radius 50%
	overflow hidden
	background gris_claro

//
.container
	position relative
.category
	font-size 1.1em
	line-height 3.5em
	-webkit-margin-before: 0
	-webkit-margin-after: 0
	-webkit-margin-start: 0
	-webkit-margin-end: 0
	font-weight: bold;
.header
	height 3.5em
	background #fff
	border-bottom: 1px solid #bcbec0;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	box-shadow: 0 0 1px 1px #ccc

	.title
		font-size 1.1em
		text-align center
		margin 0
		line-height 3.5em

.fa-check:before
.fa-circle:before
	color #008000

.fa-pencil
	color gris_claro

.image
	.img
		width 100%
		height auto
.input
	border 1px solid gris_claro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em

.logo
	display none
.menu
	display none

.problem-list
	background: #fff

.category
	padding .5em 4em 0 4em

.problem-set
	padding .5em 4em 
.problem-item
	padding .4em 2em 
	position relative
	height 1.5em
	border-bottom: 1px solid #bcbec0;
	.problem-title
		position absolute
		margin-left 1.5em
		line-height 1.5em
		color: #0367b0
		//padding-left 3em
		&:active
		&:hover
			text-decoration underline
	.status
		position absolute
		line-height 1.5em
		
.wrap
	width 1000px


.search-icon
	position absolute
	left .5em
	top .8em
	color gris_claro
.sacc
	margin-left 1em
	color 
.user-state
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin-top 10px
	margin-left 10px
	padding: 0 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	width 80px
.admin
	background: #41A039

@media screen and (min-width:1000px)
	.avatar
		width 38px
		height 38px
	.button-menu.fa.fa-bars
		display none

	.create-problem
		padding 0.3em 1em 0 1em
		color gris_oscuro
	.header
		height auto
		.title
			display none
	.logo
		padding 1em 0
		overflow hidden
		display block
	.problem-list
		margin 10px 10px 10px 240px
		display: block
		box-sizing: border-box
		-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25)
		box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25)
		-webkit-border-radius: 1px
		border-radius: 1px
		padding: 30px 30px 48px 30px
		height: 100%
	
	.search
		padding 0 1em

	.username
		color gris_claro
		position relative
		top 9px
		margin-left .5em
		&:after
			content "" //siempre para que vea que ese elemento que existe
			border-left 7px solid transparent
			border-right 7px solid transparent
			border-top 9px solid gris_claro
			display inline-block
			margin-left .4em

	
