<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Document</title>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/estilos.css">
	
	<script type="text/javascript" src="/js/vendor/jquery.js"></script>
	<script type="text/javascript" src="/js/vendor/underscore.js"></script>
	<script type="text/javascript" src="/js/vendor/backbone.js"></script>

	<script type="text/javascript" src="/js/vendor/socket.io.js"></script>

	<script type="text/javascript" src="/js/vendor/neon.js"></script>
	<script type="text/javascript" src="/js/vendor/CustomEvent.js"></script>
	<script type="text/javascript" src="/js/vendor/CustomEventSupport.js"></script>
	<script type="text/javascript" src="/js/vendor/PonyExpress.js"></script>

	<script type="text/javascript" src="/js/init.js"></script>
	<script type="text/javascript" src="/js/backbone/models/problem.js"></script>
	<script type="text/javascript" src="/js/backbone/collections/problems.js"></script>
	<script type="text/javascript" src="/js/backbone/views/problem.js"></script>
	<script type="text/javascript" src="/js/backbone/views/app.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body>

	<header class="header relative border-bottom">
		<div class="logo">
			<div class="wrap center-block">
				<figure class="image isotipo left">
					<img src="images/logo.png" alt="">
				</figure>
				<div class="user right">
					<figure class="avatar round left">
						<img src="images/avatar.png" width="38" height="38" alt="@wil_jm">
					</figure>
					<span class="left username">einsten</span>
					
				</div>
				<div class="create-problem right">
					<a href="#"><i class="fa fa-pencil fa-2x"></i></a>
				</div>
				<div class="search right">
						<form action="" class="relative">
							<i class="fa fa-search search-icon"></i>
							<input type="text" placeholder="hola mundo" class="input">
						</form>
				</div>

			</div>
			
		</div>
		<a href="#" class="button-menu fa fa-bars fa-2x"></a>
		<nav class="menu">
			<ul class="list">
				<li class="item">
					<a href="#">Concursos</a>
				</li>
				<li class="item">
					<a href="#">Mensajes</a>
				</li>
				<li class="item">
					<a href="#">Perfil</a>
				</li>
				<li class="item">
					<a href="#">Problemas</a>
				</li>

			</ul>

		</nav>
		<div class="title">
			<span>Problemas</span>
		</div>
	</header>
	<form action ="" style="display:none">
		<p><label for="title">Titulo</label><input name="title" type="text"></p>
		<p><label for="description">Descripcion</label><input name="description" type="text"></p>
		<p><label for="category">Categoria</label><input name="category" type="text"></p>
		<input type="submit" value="Publicar">
		
	</form>

	<section class="container">
		<div class="problem-list ">
			
			<div class="category">
				Mis problemas
				<a href="#" class="new-problem">New</a>	
			</div>
			<ul class="problem-set my-problems">
				
			</ul>
		</div>
		<div class="problem-list">
			<div class="category">Introductorios</div>
			<ul class="problem-set">
				
				<li class="problem-item">
					<span class="status"></span>
					<a href="#" class="problem-title">Parentizando</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Buscando a Pipo</a>
				</li>
				<li class="problem-item">
					<span class="status"></span>
					<a href="#" class="problem-title">Corazón rebelde</a>
				</li>
			</ul>
			<div class="category">Matematicos</div>
			<ul class="problem-set">
				
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Parentizando</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Buscando a Pipo</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Buscando a Pipo</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Buscando a Pipo</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Buscando a Pipo</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Buscando a Pipo</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check"></span>
					<a href="#" class="problem-title">Corazón rebelde</a>
				</li>
			</ul>
			<div class="category">Programación Dinamica</div>
			<ul class="problem-set">
				
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Parentizando</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Buscando a Pipo</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Buscando a Pipo</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Buscando a Pipo</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Buscando a Pipo</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check" style="display:none"></span>
					<a href="#" class="problem-title">Buscando a Pipo</a>
				</li>
				<li class="problem-item">
					<span class="status fa fa-check"></span>
					<a href="#" class="problem-title">Corazón rebelde</a>
				</li>
			</ul>
		</div>
	</section>

	<script type="text/template" id="problem-template">
		<li class="problem-item">
			<a href="#" class="problem-title">
				<%=title%> 
			</a>
			<a href="#" class="sacc right fa fa-bolt"></a>
		</li>
	</script>
</body>
</html>